{% extends data|yesno:"myapp/header.html,myapp/seller_header.html"  %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td{
			padding: 5px;
		}
	</style>
	
</head>
<body>
	<center>
<h3>
	 {% if msg %}
	  {{msg}}
	{% endif %}
</h3>
</center>
<center><h1>Profile Page</h1>
<form name="profile" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		<tr>
			<td>Current Picture</td>
			<td><img src="{{user.user_image.url}}" width="175px" height="200px"></td>
		</tr>
		<tr>
			<td>First Name</td>
			<td><input type="text" name="fname" value="{{user.first_name}}"></td>
		</tr>

		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lname" value="{{user.last_name}}"></td>
		</tr>
		<tr>
			<td>E-mail</td>
			<td><input type="text" name="email" value="{{user.email}}" readonly="readonly"></td>
		</tr>

		<tr>
			<td>mobile</td>
			<td><input type="text" name="mobile" value="{{user.mobile}}"></td>
		</tr>

		<tr>
			<td>User Image</td>
			<td><input type="file" name="user_image"></td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="signup">
			</td>
	
		</tr>
</table>
</form>
</center>

{% endblock %}

</body>
</html>